.container-form {
    margin-bottom: 30px;
    width: 100%;
}

h1 {
    text-align: center;
}

.form {
    margin: auto;
    width: 200px;
    line-height: 25px;
}

.btn-submit, .btn-show {
    background-color: rgb(224, 33, 33);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.container-playlist {
    border: 1px solid black;
}

img {
    width: 200px;
}

.card {
    width: 200px;
    padding: 0;
    line-height: 1px;
}

.Judul {
    font-size: x-large;
    font-weight: bold;
}

.main {
    text-align: center;
}

.btn-show {
    margin: 0;
}